[Desktop Entry]
Type=Application
Name=Landhorse
GenericName=Passwords and Keys
Comment=Manage your passwords, keyrings, PGP and SSH keys
Keywords=password;keyring;secret;encryption;security;gpg;gnupg;pgp;openpgp;ssh;key;seahorse;
Exec=landhorse
Icon=io.github.wrouesnel.landhorse
Terminal=false
Categories=GTK;Utility;Security;
StartupNotify=true
StartupWMClass=io.github.wrouesnel.landhorse
